{% extends 'base.html.twig' %}
{% block title %}Api Platform{% endblock %}

{% block body %}
    <h1 class="mt-5">Let's Explore Life</h1>
    <p>Api Platform</p>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}