{# @var App\Entity\User user #}
<h2>Hello {{ user.getName() }}</h2>
<p>Congratulations. We must approve your account, click to <a href="{{ url('default_confirm_token', {'token': user.getConfirmationToken()}) }}\">link</a></p>
